<div class="page-header">
  <h3><%= @island.island_name %>, <%= @island.location %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">

    <div class="btn-group btn-group-justified">
      <a href="javascript:history.back()" class="btn btn-primary">
        Back
      </a>
      <% if current_user.administrator == true %>
      <a href="/islands/<%= @island.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_island/<%= @island.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Island has many beaches -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Beaches
      </li>

      <% @island.beaches.order(:beach_name).each do |beach| %>
        <li class="list-group-item">
          <a href="/beaches/<%= beach.id %>">
            <%= beach.beach_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/beaches/<%= beach.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <% if current_user.administrator == true %>
            <a href="/beaches/<%= beach.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_beach/<%= beach.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
            <% end %>
          </div>
        </li>
      <% end %>

    <li class="list-group-item">
      <% if current_user.administrator == true %>
        <form action="/create_beach" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for beach_name -->
      <div class="form-group">
        <label for="beach_name" class="control-label">
          Beach name
        </label>

        <input type="text" id="beach_name" name="beach_name" placeholder="Beach name" class="form-control" value="">
      </div>

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="">
      </div>

      <!-- Label and input for entrance_fee -->
      <div class="form-group">
        <label for="entrance_fee" class="control-label">
          Entrance fee
        </label>

        <input type="text" id="entrance_fee" name="entrance_fee" placeholder="Entrance fee" class="form-control" value="">
      </div>

      <!-- Label and input for umbrella_fee -->
      <div class="form-group">
        <label for="umbrella_fee" class="control-label">
          Umbrella fee
        </label>

        <input type="text" id="umbrella_fee" name="umbrella_fee" placeholder="Umbrella fee" class="form-control" value="">
      </div>

      <!-- Label and input for available_activities_with_fees -->
      <div class="form-group">
        <label for="available_activities_with_fees" class="control-label">
          Available activities with fees
        </label>

        <input type="text" id="available_activities_with_fees" name="available_activities_with_fees" placeholder="Available activities with fees" class="form-control" value="">
      </div>

      <!-- Label and input for terrain -->
      <div class="form-group">
        <label for="terrain" class="control-label">
          Terrain
        </label>

        <input type="text" id="terrain" name="terrain" placeholder="Terrain" class="form-control" value="">
      </div>

      <!-- Label and input for terrain_color -->
      <div class="form-group">
        <label for="terrain_color" class="control-label">
          Terrain color
        </label>

        <input type="text" id="terrain_color" name="terrain_color" placeholder="Terrain color" class="form-control" value="">
      </div>

      <!-- Label and input for water_type -->
      <div class="form-group">
        <label for="water_type" class="control-label">
          Water type
        </label>

        <input type="text" id="water_type" name="water_type" placeholder="Water type" class="form-control" value="">
      </div>

      <!-- Label and input for shark_attacks -->
      <div class="form-group">
        <label for="shark_attacks" class="control-label">
          Shark attacks
        </label>

        <input type="text" id="shark_attacks" name="shark_attacks" placeholder="Shark attacks" class="form-control" value="">
      </div>

      <!-- Label and input for island_id -->
      <input type="hidden" name="island_id" value="<%= @island.id %>">

      <button class="btn btn-block btn-success">
        Create Beach
      </button>
    </form>
    <% end %>
      </li>
    </ul>
  </div>
</div>
