<div class="page-header">
  <h1>
    Beaches
    <a href="/beaches/new" class="btn btn-lg btn-success">New Beach</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "beaches_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :beach_name_cont, "Beach name contains" %>
    <%= f.text_field :beach_name_cont, :class => "form-control", :placeholder => "Beach name contains" %>
  </div>

<div class="form-group">
  <%= f.label :shark_attacks, "Shark attacks" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :shark_attacks_gteq, :class => "form-control", :placeholder => "Shark attacks greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :shark_attacks_lteq, :class => "form-control", :placeholder => "Shark attacks less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :water_type_cont, "Water type contains" %>
    <%= f.text_field :water_type_cont, :class => "form-control", :placeholder => "Water type contains" %>
  </div>

<div class="form-group">
    <%= f.label :terrain_color_cont, "Terrain color contains" %>
    <%= f.text_field :terrain_color_cont, :class => "form-control", :placeholder => "Terrain color contains" %>
  </div>

<div class="form-group">
    <%= f.label :terrain_cont, "Terrain contains" %>
    <%= f.text_field :terrain_cont, :class => "form-control", :placeholder => "Terrain contains" %>
  </div>

<div class="form-group">
    <%= f.label :available_activities_with_fees_cont, "Available activities with fees contains" %>
    <%= f.text_field :available_activities_with_fees_cont, :class => "form-control", :placeholder => "Available activities with fees contains" %>
  </div>

<div class="form-group">
  <%= f.label :umbrella_fee, "Umbrella fee" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :umbrella_fee_gteq, :class => "form-control", :placeholder => "Umbrella fee greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :umbrella_fee_lteq, :class => "form-control", :placeholder => "Umbrella fee less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :entrance_fee_cont, "Entrance fee contains" %>
    <%= f.text_field :entrance_fee_cont, :class => "form-control", :placeholder => "Entrance fee contains" %>
  </div>

<div class="form-group">
    <%= f.label :location_cont, "Location contains" %>
    <%= f.text_field :location_cont, :class => "form-control", :placeholder => "Location contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :island_island_name_cont, "Island island_name contains" %>
      <%= f.text_field :island_island_name_cont, :class => "form-control", :placeholder => "Island island_name contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/beaches" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#beaches_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Beach name</th>
        <th>Location</th>
        <th>Entrance fee</th>
        <th>Umbrella fee</th>
        <th>Available activities with fees</th>
        <th>Terrain</th>
        <th>Terrain color</th>
        <th>Water type</th>
        <th>Shark attacks</th>
        <th>Island</th>
        <th>Actions</th>
      </tr>

      <% @beaches.each do |beach| %>
      <tr>
        <td><%= beach.beach_name %></td>
        <td><%= beach.location %></td>
        <td><%= beach.entrance_fee %></td>
        <td><%= beach.umbrella_fee %></td>
        <td><%= beach.available_activities_with_fees %></td>
        <td><%= beach.terrain %></td>
        <td><%= beach.terrain_color %></td>
        <td><%= beach.water_type %></td>
        <td><%= beach.shark_attacks %></td>
        <td>
          <% if beach.island.present? %>
            <a href="/islands/<%= beach.island.id %>">
              <%= beach.island.island_name %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/beaches/<%= beach.id %>" class="btn btn-primary">Show</a>
          <a href="/beaches/<%= beach.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_beach/<%= beach.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @beaches, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
