<div class="page-header">
  <h3>Beach #<%= @beach.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Beach name</dt>
      <dd><%= @beach.beach_name %></dd>

      <dt>Location</dt>
      <dd><%= @beach.location %></dd>

      <dt>Weather</dt>
      <dd><%= @beach.weather %></dd>

      <dt>Sunset</dt>
      <dd><%= @beach.sunset %></dd>

      <dt>Tides</dt>
      <dd><%= @beach.tides %></dd>

      <dt>Wave height</dt>
      <dd><%= @beach.wave_height %></dd>

      <dt>Entrance fee</dt>
      <dd><%= @beach.entrance_fee %></dd>

      <dt>Umbrella fee</dt>
      <dd><%= @beach.umbrella_fee %></dd>

      <dt>Terrain</dt>
      <dd><%= @beach.terrain %></dd>

      <dt>Terrain color</dt>
      <dd><%= @beach.terrain_color %></dd>

      <dt>Water type</dt>
      <dd><%= @beach.water_type %></dd>

      <dt>Shark attacks</dt>
      <dd><%= @beach.shark_attacks %></dd>

      <dt>Island</dt>
      <dd><%= @beach.island_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/beaches" class="btn btn-primary">
        Back
      </a>
      <a href="/beaches/<%= @beach.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_beach/<%= @beach.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Beach has many photos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Photos
      </li>

      <% @beach.photos.each do |photo| %>
        <li class="list-group-item">
          <a href="/photos/<%= photo.id %>">
            <%= photo.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/photos/<%= photo.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_photo" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for beach_id -->
      <input type="hidden" name="beach_id" value="<%= @beach.id %>">

      <button class="btn btn-block btn-success">
        Create Photo
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Beach has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @beach.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for beach_id -->
      <input type="hidden" name="beach_id" value="<%= @beach.id %>">

      <button class="btn btn-block btn-success">
        Create Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
