<div class="page-header">
  <h3><%= @beach.beach_name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Location</dt>
      <dd><%= @beach.location %></dd>

      <dt>Entrance fee</dt>
      <dd><%= @beach.entrance_fee %></dd>

      <dt>Umbrella fee</dt>
      <dd><%= @beach.umbrella_fee %></dd>

      <dt>Available activities with fees</dt>
      <dd><%= @beach.available_activities_with_fees %></dd>

      <dt>Terrain</dt>
      <dd><%= @beach.terrain %></dd>

      <dt>Terrain color</dt>
      <dd><%= @beach.terrain_color %></dd>

      <dt>Water type</dt>
      <dd><%= @beach.water_type %></dd>

      <dt>Shark attacks</dt>
      <dd><%= @beach.shark_attacks %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @beach.image %>" class="img-responsive"> </dd>

      <dt>Island</dt>
      <dd>
        <% if @beach.island.present? %>
          <a href="/islands/<%= @beach.island_id %>">
            <%= @beach.island.island_name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/islands" class="btn btn-primary">
        Back
      </a>
      <% if current_user.administrator == true %>
      <a href="/beaches/<%= @beach.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_beach/<%= @beach.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Beach has many photos -->

<div class="row">
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Photos
      </li>

      <% @beach.photos.each do |photo| %>
        <li class="list-group-item">
          <a href="/photos/<%= photo.id %>">
            <img class="img-responsive" src="<%= photo.image %>">
          </a>

          <div class="btn-group btn-group-xs pull-right">
            <a href="/photos/<%= photo.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
      <form action="/create_photo" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <input type="file" name="image" class="form-control" />
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for beach_id -->
      <input type="hidden" name="beach_id" value="<%= @beach.id %>">

      <button class="btn btn-block btn-success">
        Create Photo
      </button>
    </form>
      </li>
    </ul>
  </div>

<!-- A Beach has many comments -->

  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @beach.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.user.email %>
          </a>
          : <%= comment.comment_text %>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for comment -->
      <div class="form-group">
        <label for="comment" class="control-label">
          Comment
        </label>

        <input type="text" id="comment_text" name="comment_text" placeholder="Comment" class="form-control" >
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for beach_id -->
      <input type="hidden" name="beach_id" value="<%= @beach.id %>">

      <button class="btn btn-block btn-success">
        Create Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
